<div class="text-center" id={{user.id}}>
    <div class="card review-card">
        <div class="card-header bg-darkred">
            <button class="btn btn-sm btn-danger" data-id="{{id}}">X</button>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h2>"{{review_description}}"</h2>
                <footer class="blockquote-footer">
                    <p>{{user.username}}</p>
                </footer>
            </blockquote>
        </div>
    </div>
    </br>
</div>