<div class="text-center">
        <img src="../../images/sweetapplesLogo.png" class="img-fluid" alt="Logo">
        <p>Welcome to Sweet Apples! unlike Rotten Tomatoes, we are a reputable review website based soley on Video Games!</p>
</div>